.jscms-comment {
  width: 100%;
}

.jscms-comment .comment-input-area {
  width: 100%;
}

.jscms-comment .comment-input-area .comment-top::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.jscms-comment .comment-input-area .comment-top {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.jscms-comment .comment-input-area .comment-top .comment-title {
  float: left;
}

.jscms-comment .comment-input-area .comment-top .comment-total {
  float: right;
}
