<div class="jscms-comment">
  <div class="comment-input-area">
    <div class="comment-top">
      <div class="comment-title">参与评论</div>
      <div class="comment-total">共<span class="total-number">{{total}}</span>条</div>
    </div>
    <div class="comment-middle">
      <div class="comment-input-warp">
        <textarea v-model="form.mdContent" name="content" id="commentContent" cols="30" rows="10" :placeholder="config.placeholder"></textarea>
      </div>
      <div class="comment-control-warp">
        <div class="control-login" v-show="config.boolCommentLogin===true">
          <a href="javascript:void(0);">登陆 </a>后参与评论
        </div>
        <div class="control-user" v-show="config.boolCommentLogin===false">
          <span class="user-avatar" :style="{'background-image': 'url('+ config.currentUser.avatar +')'}"></span>
          <span class="user-nickname">{{config.currentUser.nickname}}</span>
        </div>
        <div class="control-submit">
          <span class="input-total">{{form.mdContent.length}}/1000</span>
          <span class="btn-submit" @click="submit">
            提交评论
          </span>
        </div>
      </div>
    </div>
    <div class="comment-tips">
      {{config.tips}}
    </div>
  </div>
  <div class="comment-content-area">
    <div class="comment-top">
      <div class="comment-title">评论区</div>
    </div>
    <div class="comment-list">
      <ul v-if="commentsList.length">
        <li v-for="(item, index) in commentsList" :key="index">
          <div class="comment-list-item">
            <div class="item-top">
              <div class="item-avatar">
                <span :style="{'background-image': 'url('+ item.userId.avatar +')'}"></span>
              </div>
              <div class="item-info">
                <span class="nickname">{{item.userId.nickname}}</span>
                <span class="time">· 23小时前</span>
              </div>
              <div class="item-right">
                <span class="like-icon normal"></span>
                <span class="like-number">{{item.likeTotal}}</span>
                <a class="btn-reply" href="">回复</a>
              </div>
            </div>
            <div class="comment-content" v-html="item.htContent"></div>
          </div>
        </li>
      </ul>
      <div class="no-comment" v-if="commentsList.length === 0">
        期待你的评论。
      </div>
    </div>
    <div class="loading-warp" v-show="loading">
      <Loading text="评论加载中..." :loading="loading"></Loading>
    </div>
    <div class="comment-more" v-show="hasMore">
      <span class="btn-more" @click="loadMore">加载更多</button>
    </div>
  </div>
</div>
