.auth-container {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 6px;
  width: 330px;

  .header {
    position: relative;

    .tab-bar {
      position: relative;
      margin-bottom: 20px;

      ul {
        &::after {
          content: "";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden;
        }

        li {
          padding: 10px;
          box-sizing: border-box;
          text-align: left;
          float: left;

          a {
            font-size: 18px;
            -webkit-transition: color .3s ease-in-out;
            -o-transition: color .3s ease-in-out;
            transition: color .3s ease-in-out;
            color: rgba(8, 33, 85, .4);

            .active() {
              color: #082155;
              font-weight: 500;
            }

            &:hover {
              .active();
            }

            &.active {
              .active();
            }
          }
        }
      }

      .active-line {
        position: absolute;
        height: 3px;
        box-sizing: border-box;
        background-color: #93a2bb;
        z-index: 1;
        width: 20px;
        transform-origin: 0 0;
        border-radius: 1px;
        transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;

        &.login-active {
          left: 16px;
        }

        &.register-active {
          left: 26px;
          transform: translate3d(60px, 0, 0);
        }
      }
    }

    &::after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

    .title {
      float: left;
      font-size: 18px;
      text-align: center;
    }

    .auth-close {
      position: absolute;
      top: -5px;
      right: -5px;
      cursor: pointer;

      svg {
        transition: all .4s;
      }

      &:hover {
        svg {
          transform: scale(1.3);
        }
      }
    }
  }



  .body {
    padding: 10px;
    padding-top: 10px;
    box-sizing: border-box;

    .other-operation {
      font-size: 14px;
      padding: 10px 0px;
      margin-bottom: 10px;
      color: #a7a7a7;

      &::after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }

      .reg-warp {
        float: left;

        input[type^=checkbox] {
          display: none;
        }

        .keep-label {
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          cursor: pointer;

          span {
            width: 15px;
            height: 15px;
            display: inline-block;
            margin-right: 6px;
            border: 1px solid #dce1e6;
            vertical-align: middle;
            border-radius: 3px;
            position: relative;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            background-color: #f6f9fc;

            img {
              display: none;
            }

            &.is-rember {
              background: #2461f6;
              -webkit-transition: all .3s;
              -o-transition: all .3s;
              transition: all .3s;
              border: 1px solid #2461f6;

              img {
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                width: 11px;
                height: 8px;
                position: absolute;
                top: 3px;
                left: 1px;
              }
            }
          }
        }
      }

      .forget-pass-warp {
        float: right;
      }

    }

    .btn-warp {
      padding: 0px;
    }

    .other-login {
      border-top: 1px solid #eeeeee;
      margin-top: 20px;
      padding-top: 20px;

      .tips {
        color: #8b9196;
      }

      .svg-icon-layout {
        margin-top: 10px;
        padding-top: 10px;
        width: 100%;

        &::after {
          content: "";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden;
        }

        .svg-icon {
          width: 33%;
          text-align: center;
          float: left;

          svg {
            cursor: pointer;
            border-radius: 60%;
            background-color: #f4f8fb;
            padding: 10px;
            transition: all 0.2s;

            &:hover {
              background-color: #dfeaf2;
            }
          }
        }
      }

    }

  }
}