.auth-container {
  width: 100%;

  .title {
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
  }

  .body {
    padding: 10px;
    padding-top: 10px;
    box-sizing: border-box;

    .form {
      .form-item {
        padding-top: 5px;
        padding-bottom: 5px;
  
        input {
          height: auto;
          padding: 11px;
          border: none;
          border-bottom: 1px solid #eeeeee;
          font-size: 14px;
          width: 100%;
          border-radius: 2px;

          &:focus {
            box-shadow: none;
          }
        }
      }
    }

    .btn-login {
      height: 40px;
    }

    .forget-pass-warp {
      padding-top: 5px;
      padding-bottom: 30px;
      text-align: right;
    }

    .reg-warp {
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: right;
      color: #a7a7a7;
    }

    .line {
      width: 100%;
      height: 1px;
      width: 100%;
      background-color: #eeeeee;
    }

    .other-login {
      padding: 20px;
    }

  }
}