.auth-container {
  width: 100%;

  .title {
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
  }

  .body {
    padding: 10px;
    padding-top: 10px;
    box-sizing: border-box;

    .other-operation {
      font-size: 14px;
      padding: 10px 8px;
      margin-bottom: 10px;
      color: #a7a7a7;

      &::after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }

      .reg-warp {
        float: left;
      }

      .forget-pass-warp {
        float: right;

      }
  
    }

    .btn-warp {
      padding: 2px;
    }

    .line {
      width: 100%;
      height: 1px;
      width: 100%;
      margin-top: 20px;
      background-color: #eeeeee;
    }

    .other-login {
      margin-top: 10px;

      .tips {
        color: #8b9196;
      }

      .svg-icon-layout {
        margin-top: 10px;
        padding-top: 10px;
        width: 100%;

        &::after {
          content: "";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden;
        }

        .svg-icon {
          width: 33%;
          text-align: center;
          float: left;

          svg {
            cursor: pointer;
            border-radius: 60%;
            background-color: #f4f8fb;
            padding: 10px;
            transition: all 0.2s;

            &:hover {
              background-color: #dfeaf2;
            }
          }
        }
      }
      
    }

  }
}